{% extends 'base.html' %}

{% block title %}Confirm Deletion{% endblock %}

{% block content %}
    {% include 'navbar.html' with active_page="human_resource" %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="display-5">Are you sure you want to delete "{{ object }}"?</div>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">{% csrf_token %}
{#                            <p class="display-5">Are you sure you want to delete "{{ object }}"?</p>#}
{#                            <hr>#}
                            <input class="btn btn-secondary" type="submit" value="Confirm" />
                        </form>
                    </div>
                </div>
                <form action="" method="post">{% csrf_token %}
                    <p class="display-5">Are you sure you want to delete "{{ object }}"?</p>
                    <hr>
                    <input class="btn btn-secondary" type="submit" value="Confirm" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}