{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}
    {% include 'navbar.html' with active_page="human_resource" %}
{#<style>#}
{#table, th, td {border: 1px solid black; border-collapse: collapse; padding: 1px;}#}
{#</style>#}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light title-bar">
                    <h3 class="display-4">Persons</h3>
                    <ul class="navbar-nav mr-auto"></ul>

                    <a id="addUserLink" href="#">
                        <i class="material-icons md-36 text-info" data-toggle="tooltip" data-placement="bottom" title="Create new person">person_add</i>
                    </a>
                </nav>
                <hr class="remove-top-margin">
                {% if persons %}
                <table id="personTable" class="table" data-skip-to-row="0">
                    <thead>
                        <tr>
                            <th>Student/Employer number</th>
                            <th>Full name<input style="float: right;" type="text" id="persons_search" data-target="#personTable" placeholder="Search..."></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for person in persons %}
                        <tr class="clickable-row pointer" data-href="{% url 'human_resource:person' pk=person.pk%}">
                            <td class="person_number"> {{ person.university_number }} </td>
                            <td class="person_name"> {{ person.name }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>



                {% else %}
                    No persons found!
                {% endif %}
                <form id="addUser" action="{% url 'human_resource:create_person' %}" method="get">{% csrf_token %}
                    <!--{{ form.as_p }}-->
{#                    <input class="btn btn-secondary" type="submit" value="Create new User">#}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

