.dropdown-menu {
  &.dropdown-menu-left {
    right: 0;
    left: auto;
  }
}

.dropdown-toggle::after {
  display:none;
}

#user-button {
  background-color: transparent;
  border: none;
  &:focus {
    border: none;
  }
}

