$padding: 70px;
$brand-primary: red;

body {
  padding-top: $padding;
}

.text-primary {
  color: $brand-primary;
}

.display-5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.table-overflow {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.skin-text {
  font-weight: 400;
  line-height: 1.1;
  &.remove-margin {
    margin-bottom: 0;
  }
}

.pointer {
  cursor: pointer;
}

.user-toolbar {
  float: right;
  line-height: 6.5;
  height: inherit;
}

  @import '../../../../static/Seth/seth/css/_icons';

  @import '../../../../static/Seth/seth/css/_navbar-menus';
