body {
  padding-top: 70px; }

.text-primary {
  color: red; }

.display-5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1; }

.display-6 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1; }

.table-overflow {
  display: block;
  width: 100%;
  overflow-x: auto; }

.skin-text {
  font-weight: 400;
  line-height: 1.1; }
  .skin-text.remove-margin {
    margin-bottom: 0; }

.pointer {
  cursor: pointer; }

.user-toolbar {
  float: right;
  line-height: 6.5;
  height: inherit; }

.navbar.title-bar {
  padding-left: 0;
  padding-right: 0; }

hr.remove-top-margin {
  margin-top: 0; }

.card.card-margin {
  margin-top: 10px; }
.card .card-header.card-header-tabs {
  margin: 0;
  padding: 0;
  border-bottom: 0; }

#snackbar {
  display: none;
  /* Display set to none for toggling with JQuery */
  transform: translate(-50%, -50%);
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */ }

#snackbarClose.close {
  color: white; }

.loading-spinner {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 99;
  position: fixed;
  left: 50%;
  bottom: 50px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.card-columns.teacher-cards {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1; }
  @media (max-width: 768px) {
    .card-columns.teacher-cards {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1; } }
.card-columns.teaching-assistant-cards {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1; }
  @media (max-width: 768px) {
    .card-columns.teaching-assistant-cards {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1; } }
.card-columns.mc-dashboard-cards {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4; }
  @media (max-width: 992px) {
    .card-columns.mc-dashboard-cards {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; } }
  @media (max-width: 1200px) and (min-width: 992px) {
    .card-columns.mc-dashboard-cards {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3; } }

#login-container {
  background-image: url(../../images/login-bg-2.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px; }

.row.rad-grad-bg {
  background: rgba(192, 192, 192, 0.7);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(192, 192, 192, 0.7), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0));
  /* Safari 5.1-6.0 */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(192, 192, 192, 0.7), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0));
  /* For Opera 11.6-12.0 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(192, 192, 192, 0.7), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0));
  /* For Firefox 3.6-15 */
  background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(192, 192, 192, 0.7), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0));
  /* Standard syntax */ }

.column-border {
  padding-right: 20px;
  border-right: 1px solid #ccc; }

.students-table-column {
  overflow-y: scroll; }

.material-icons.md-18 {
  font-size: 18px; }
.material-icons.md-20 {
  font-size: 20px; }
.material-icons.md-24 {
  font-size: 24px; }
.material-icons.md-36 {
  font-size: 36px; }
.material-icons.md-48 {
  font-size: 48px; }
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }
  .material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light {
  color: white; }
  .material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3); }
.material-icons.title-bar {
  padding-left: 5px;
  padding-right: 5px; }

.fa.fa-light {
  color: white; }
  .fa.fa-light.fa-inactive {
    color: rgba(255, 255, 255, 0.3); }
.fa.fa-dark {
  color: rgba(0, 0, 0, 0.54); }
  .fa.fa-dark.fa-inactive {
    color: rgba(0, 0, 0, 0.26); }
.fa.fa-18 {
  font-size: 18px; }
.fa.fa-24 {
  font-size: 24px; }
.fa.fa-36 {
  font-size: 36px; }
.fa.fa-48 {
  font-size: 48px; }

.dropdown-menu.dropdown-menu-left {
  right: 0;
  left: auto; }

.btn.nav-button {
  background-color: transparent;
  border: none; }
  .btn.nav-button:focus {
    border: none; }
  .btn.nav-button.dropdown-toggle::after {
    display: none; }
  .btn.nav-button:active {
    background-color: transparent;
    border: none; }

/*# sourceMappingURL=styles.css.map */
