{% extends 'base.html' %}

{% block title %}
Bad request
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="display-4 text-danger">Error</div>
                <hr>
                {% if message|length != 2 %}
                    <div class="display-5 text-danger">
                        {{ message }}
                    </div>

                {% else %}
                    <div class="display-5 text-danger">
                        {{ message.0 }}
                    </div>
                    <div class="display-6">
                        {% for line in message.1 %}
                            <p>{{ line }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
{#                    <div class="display-5 text-danger">{{ errorType }}</div>#}
            </div>
        </div>
    </div>
{% endblock %}