{% extends 'base.html' %}

{% block title %}User{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="display-4">{{ person.name }}</h3>
                <hr>
{#                Name: {{ person.name }} <br>#}
                Id: {{ person.id }} <br>
                Start: {{ person.start }} <br>
                Stop: {{ person.stop }} <br>
                {% for study in person.studies.all %}
                Studies: {{ study }} <br>
                {% endfor %}
                Full ID: {{ person.full_id }}
                <br><br>
                <!--<a href="/grades/update-user">Edit:</a>-->
                <form action="update-user/" method="get">{% csrf_token %}
                    <!--{{ form.as_p }}-->
                    <input class="btn btn-secondary" type="submit" value="Edit">
                </form>
                <form action="remove-user/" method="get">{% csrf_token %}
                    <!--{{ form.as_p }}-->
                    <input class="btn btn-secondary" type="submit" value="Remove">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
