{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}

    {% include 'navbar.html' with active_page="dashboard"%}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h1 class="display-2">Dashboard</h1>
                <hr>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <h1 class="display-4">Active modules</h1>
                <hr>
                {% for mod in modules %}
                    {% if mod.start < time and mod.end > time %}
                    <div class="card">
                        <div class="card-header" role="tab" id="headingActive{{ mod.pk }}">
                            <h4 class="md-0 skin-text remove-margin">
                                <a class="text-dark" data-toggle="collapse" href="#collapseActive{{ mod.pk }}" aria-expanded="true" aria-controls="collapseActive{{ mod.pk }}">
                                    {{ mod.module.name}}
                                </a>
                                <a href="{% url 'module_management:module_edition_detail' pk=mod.pk %}"><i class="material-icons float-right">settings</i></a>
                            </h4>
                        </div>
                        <div id="collapseActive{{ mod.pk }}" class="collapse" role="tabpanel" aria-labelledby="headingActive{{ mod.pk }}" data-parent="#accordion">
                            <div class="card-body">
                                <div id="accordion" role="tablist">
                                    {% for module_part in mod.modulepart_set.all %}
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingActiveCourse{{ module_part.pk }}{{ mod.pk }}">
                                            <h5 class="md-0 skin-text remove-margin">
                                                <a class="text-dark" data-toggle="collapse" href="#collapseActiveCourse{{ module_part.pk }}{{ mod.pk }}" aria-expanded="true" aria-controls="collapseActiveCourse{{ module_part.pk }}{{ mod.pk }}">
                                                    {{ module_part.name }}
                                                </a>
                                                <a href="{% url 'module_management:module_part_detail' pk=module_part.pk %}"><i class="material-icons float-right md-20">settings</i></a>
                                            </h5>
                                        </div>
                                        <div id="collapseActiveCourse{{ module_part.pk }}{{ mod.pk }}" class="collapse" role="tabpanel" aria-labelledby="headingActiveCourse{{ module_part.pk }}{{ mod.pk }}" data-parent="#accordion">
                                            <div class="card-body">
                                                <ul class="list-group">
                                                    {% for test in module_part.test_set.all %}
                                                        <li class="list-group-item"><a href="{% url 'module_management:test_detail' pk=test.pk %}" class="text-dark">{{ test.name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        <div class="col-lg-1"></div>
{#        <div class="col-lg-4">#}
{#            <h1 class="display-4">All modules</h1>#}
{#            <hr>#}
{#            {% for mod in modules %}#}
{#                <div class="card">#}
{#                    <div class="card-header" role="tab" id="heading{{ mod.pk }}">#}
{#                        <h4 class="md-0 skin-text remove-margin">#}
{#                            <a class="text-dark" data-toggle="collapse" href="#collapse{{ mod.pk }}" aria-expanded="true" aria-controls="collapse{{ mod.pk }}">#}
{#                                {{ mod.module.name}}{{ mod.module_code_extension }}#}
{#                            </a>#}
{#                            <a href="#"><i class="material-icons float-right">settings</i></a></h4>#}
{#                    </div>#}
{##}
{#                    <div id="collapse{{ mod.pk }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ mod.pk }}" data-parent="#accordion">#}
{#                        <div class="card-body">#}
{#                            <div id="accordion" role="tablist">#}
{#                                {% for module_part in mod.courses.all %}#}
{#                                <div class="card">#}
{#                                    <div class="card-header" role="tab" id="headingCourse{{ module_part.pk }}">#}
{#                                        <h5 class="md-0 skin-text remove-margin">#}
{#                                            <a class="text-dark" data-toggle="collapse" href="#collapseCourse{{ module_part.pk }}" aria-expanded="true" aria-controls="collapseCourse{{ module_part.pk }}">#}
{#                                                {{ module_part.name }}#}
{#                                            </a>#}
{#                                            <a href="#"><i class="material-icons float-right md-20">settings</i></a>#}
{#                                        </h5>#}
{#                                    </div>#}
{#                                    <div id="collapseCourse{{ module_part.pk }}" class="collapse" role="tabpanel" aria-labelledby="headingCourse{{ module_part.pk }}" data-parent="#accordion">#}
{#                                        <div class="card-body">#}
{#                                            <ul class="list-group">#}
{#                                                {% for test in module_part.test_set.all %}#}
{#                                                    <li class="list-group-item"><a href="#" class="text-dark">{{ test.name }}</a></li>#}
{#                                                {% endfor %}#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <hr>#}
{#            {% endfor %}#}
{#        </div>#}
        </div>
    </div>
{% endblock %}
