{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h1 class="display-3">Dashboard</h1>
            <hr>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <div class="card">
                <h4 class="card-header">Modules</h4>
                <div class="card-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">Module 1</a>
                        <a href="#" class="list-group-item list-group-item-action">Module 2</a>
                        <a href="#" class="list-group-item list-group-item-action">Module 3</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-1"></div>
    </div>
</div>
{% endblock %}