.dropdown-menu {
  &.dropdown-menu-left {
    right: 0;
    left: auto;
  }
}

.btn {
  &.nav-button {
    background-color: transparent;
    border: none;
    &:focus {
      border: none;
    }
    &.dropdown-toggle::after{
      display: none;
    }
  }
}


