{% extends "base.html" %}

{% block title %}
Sign in
{% endblock %}

{% block content %}

<div class="container">
    <div style="padding-top: 32px; padding-bottom: 32px; margin-bottom:32px;" class="row justify-content-center rad-grad-bg">
        <div class="col-lg-6">
            <div class="text-center">
                <span style="color: white;" class="align-top display-4">Seth - Sign in</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-5">
            {% if next %}
                {% if user.is_authenticated %}
                <div class="alert alert-danger text-center" role="alert">
                    Your account does not have access to this page.
                    To proceed, please sign in with an account that has accesss
                </div>
                {% else %}
                <div class="alert alert-danger text-center" role="alert">
                    Please sign in with your university credentials to see this page
                </div>
                {% endif %}
            {% else %}
                <div class="alert alert-info text-center" role="alert">
                    Please sign in with your university credentials.
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card">
{#                <div class="card-header">Login</div>#}
                <div class="card-body">
{#                    {% if next %}#}
{#                        {% if user.is_authenticated %}#}
{#                        <p class="text-danger">Your account doesn't have access to this page. To proceed,#}
{#                        please sign in with an account that has access.</p>#}
{#                        {% else %}#}
{#                        <p class="text-danger">Please sign in with your university credentials to see this page.</p>#}
{#                        {% endif %}#}
{#                    {% endif %}#}
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <span id="identity_addon" class="input-group-addon"><i class="material-icons">perm_identity</i></span>
                            <input name="{{ form.username.html_name }}" type="text" class="form-control" placeholder="Username" id="{{ form.username.id_for_label }}" aria-describedby="identity_addon"/>
                        </div>
                        <br>
                        <div class="input-group">
                            <span id="lock_addon" class="input-group-addon"><i class="material-icons">lock</i></span>
                            <input name="{{ form.password.html_name }}" type="password" class="form-control" placeholder="Password" id="{{ form.password.id_for_label }}" aria-describedby="lock_addon"/>
                        </div>
                        <br>
                        <input class="btn btn-primary btn-block" type="submit" value="Login"/>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>
{#                    {% if form.errors %}#}
{#                        <p style="color: red">Your username and password didn't match. Please try again.</p>#}
{#                    {% endif %}#}
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 16px" class="row justify-content-center">
        <div class="col-lg-4">
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Incorrect username or password.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    document.body.id = "login-container";
</script>
{% endblock %}