{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

{#<form method="post" action="{% url 'login' %}">#}
{#{% csrf_token %}#}
{#<table>#}
{#<tr>#}
{#    <td>{{ form.username.label_tag }}</td>#}
{#    <td>{{ form.username }}</td>#}
{#</tr>#}
{#<tr>#}
{#    <td>{{ form.password.label_tag }}</td>#}
{#    <td>{{ form.password }}</td>#}
{#</tr>#}
{#</table>#}
{##}
{#<input type="submit" value="login" />#}
{#<input type="hidden" name="next" value="{{ next }}" />#}
{#</form>#}

{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">
                    {% if next %}
                        {% if user.is_authenticated %}
                        <p class="text-danger">Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                        {% else %}
                        <p class="text-danger">Please login to see this page.</p>
                        {% endif %}
                    {% endif %}
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <span id="identity_addon" class="input-group-addon"><i class="material-icons">perm_identity</i></span>
                            <input name="{{ form.username.html_name }}" type="text" class="form-control" placeholder="Username" id="{{ form.username.id_for_label }}" aria-describedby="identity_addon"/>
                        </div>
                        <br>
                        <div class="input-group">
                            <span id="lock_addon" class="input-group-addon"><i class="material-icons">lock</i></span>
                            <input name="{{ form.password.html_name }}" type="password" class="form-control" placeholder="Password" id="{{ form.password.id_for_label }}" aria-describedby="lock_addon"/>
                        </div>
                        <br>
                        <input class="btn btn-secondary btn-block" type="submit" value="Login"/>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>
                    <p><a href="{% url 'password_reset' %}">Lost password?</a> </p>
                    {% if form.errors %}
                        <p style="color: red">Your username and password didn't match. Please try again.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}