{% extends 'base.html' %}

{% block title %}
    Import grades into module {{ module_ed.module.name }}
{% endblock %}

{% block content %}
    {% include 'navbar.html' with active_page="importer" %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="display-3">Import module master sheet</h3>
                <hr>
                <form action="{% url 'importer:import_module' pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Upload" /></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
