{% extends 'base.html' %}

{% block title %}
    Import grades into test: {{ test.name }}
{% endblock %}

{% block content %}
    {% include 'navbar.html' with active_page="importer" %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="display-4">Import grades for: <span class="text-secondary">{{ test.name }}</span></h4>
                <hr>
                <form action="{% url 'importer:import_test' pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Upload" /></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}