{% extends 'base.html' %}

{% block title %}
Importer
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% if module_ed_list %}
            <h3 class="display-3">Choose module</h3>
            <hr>
            <ul>
                {% for mod in module_ed_list %}
                <div class="row">
                    <div class="col-sm-8">
                        <!--<a href="{% url 'import_module' mod.pk %}"><li>{{ mod }}</li></a>-->
                        <li>{{mod}}</li>
                        <ul>
                            {% for course in mod.courses.all %}
                            <li>{{ course.name }}</li>
                            <ul>
                                {% for test in course.coursebacktable.all %}
                                <a href="{% url 'import_test' test.pk %}">
                                    <li>{{ test.name }}</li>
                                </a>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        </ul>

                    </div>
                    <div class="col-sm-4">
                        <form action="{% url 'import_module' mod.pk %}">
                            <input type="submit" value="Upload Grades"/>
                        </form>

                    </div>
                </div>
                {% endfor %}
            </ul>
            {% else %}
            <h3 class="display-2">No module_eds available</h3>
            {% endif %}
        </div>
    </div>

    <h3 class="display-3">New Students</h3>
    <hr>
    <ul>
        <div class="row">


            <form action="{% url 'import_new_student' %}">
                <input type="submit" value="Upload Students into System"/>
            </form>

        </div>
    </ul>

</div>
</div>
{% endblock %}
