{% extends 'base.html' %}

{% block title %}Importer{% endblock %}

{% block content %}
    {% include 'navbar.html' with active_page="importer" %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% for mod in module_ed_list %}
                <div class="card">
                    <h5 class="card-header">
                        {{ mod }}
                        <a href="#" class="float-right">
                            <i class="material-icons">file_upload</i>
                        </a>
                        <a href="#" class="float-right">
                            <i class="material-icons">file_download</i>
                        </a>
                    </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul>
                                    {% for module_part in mod.modulepart_set.all %}
                                        <li>{{ module_part.name }}</li>
                                        <ul>
                                            {% for test in module_part.test_set.all %}
                                                <li>{{ test.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-sm-6">Test2</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}