{% extends 'base.html' %}

{% block title %}Course{% endblock %}

{% block content %}
    {% include 'navbar.html' with active_page="gradebook" %}
    {% load grade_extras %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

{#                <style>#}
{#                table, th, td {border: 1px solid black; border-collapse: collapse; padding: 1px;}#}
{#                </style>#}

                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}

                {% if course %}
                    <h2 class="display-4"> {{ course }} </h2>
                    <hr>
                    <table class="table table-striped table-bordered table-responsive">
                        <tr>
                            <th>Student</th>
                            {% for test in testdict.keys %}
                                <th>
                                    <a href="{% url 'grades:test' pk=test.id %}"> {{ test.name }} </a>
                                    {% if testallreleased|key:test %}
                                    <i class="material-icons float-right" data-toggle="tooltip" title="All grade in this test have been released">done</i>
                                    {% endif %}
                                </th>
                            {% endfor %}
                        </tr>
                        {% for student in studentlist %}
                            <tr>
                                <td>{{ student.name }} ({{ student.id_prefix }}{{student.person_id }})</td>
                                {% for test in testdict.keys %}
                                {% with grade=testdict|key:test|key:student|last %}
                                    <td>
                                        {{ grade|grade_od }}
                                        {% if grade.released %}
                                        <i class="material-icons float-right" data-toggle="tooltip" title="Grade has been released">done</i>
                                        {% else %}
                                        <i class="material-icons float-right" data-toggle="tooltip" title="Grade has not been released">clear</i>
                                        {% endif %}
                                    </td>
                                {% endwith %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>

                {% else %}
                <p>No tests available</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}