{% load grade_extras %}

<style>
table, th, td {border: 1px solid black; border-collapse: collapse; padding: 1px;}
</style>

<h1>{{ module_ed.module.name }}</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

{% if studentdict %}
    <table>
    <tr>
        <th>Student</th>
        {% for course in coursedict.keys %}
            <th colspan="{{ testdict|key:course|length }}"><a href="{% url 'grades:course' pk=course.id %}"> {{ course }} </a></th>
        {% endfor %}
    </tr>

    <tr>
        <td></td>
        {% for course in coursedict.keys %}
        {% for test in testdict|key:course %}
            <td><a href="{% url 'grades:test' pk=test.id %}"> {{ test.name }} </a></td>
        {% endfor %}
        {% endfor %}
    </tr>

    {% for dict in studentdict %}
        <tr>
            <td><a href="{% url 'grades:modstudent' pk=module_ed.id sid=dict.user.id %}"> {{ dict.user.last_name }} </a></td>
            {% for course in coursedict.keys %}
            {% for test in testdict|key:course %}
                <td>{{ dict|key:test }}</td>
            {% endfor %}
            {% endfor %}    
        </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No courses are available.</p>
{% endif %}