{% extends 'base.html' %}

{% block title %}Gradebook{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    {% load grade_extras %}

    <style>
    .table tbody tr > td.success {
      background-color: rgba(102, 255, 163, .5) !important;
    }

    .table tbody tr > td.error {
      background-color: rgba(255, 153, 153, .5) !important;
    }
    .table tbody tr > td.warning {
      background-color: rgba(255, 204, 102, .5) !important;
    }

    #colorslider .slider-track-high {
        background: rgba(102, 255, 163, .5);
    }

    #colorslider .slider-track-low {
        background: rgba(255, 153, 153, .5);
    }

    #colorslider .slider-selection {
        background: rgba(255, 204, 102, .5);
    }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-3">{{ module_ed.module.name }}</h1>

                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}

                {% if studentlist %}

                    <form action="{% url 'grades:export' module_ed.id %}">
                        <input class="btn btn-secondary" type="submit" value="Export to .csv" />
                    </form>

                    <input type="text" id="colorslider" name="colorslider" value="" />
                    <br><br>

                    <table class="table table-bordered table-responsive">
                    <tr>
                        <th>Student</th>
                        {% for course,tests in coursedict.items %}
                            <th colspan="{{ tests|length }}"><a href="{% url 'grades:course' pk=course.id %}"> {{ course }} </a></th>
                        {% endfor %}
                    </tr>

                    <tr>
                        <td></td>
                        {% for course, tests in coursedict.items %}
                        {% for test in tests %}
                            <td>
                                <a href="{% url 'grades:test' pk=test.id %}"> {{ test.name }} </a>
                                {% if testallreleased|key:test %}
                                <i class="material-icons float-right"  data-toggle="tooltip" title="All grades in this test have been released">done</i>
                                {% endif %}
                            </td>
                        {% endfor %}
                        {% endfor %}
                    </tr>

                    {% for student in studentlist %}
                        <tr>
                            <td><a href="{% url 'grades:modstudent' pk=module_ed.id sid=student.user.id %}">{{ student.user.first_name|key:0 }}. {{ student.user.last_name }} ({{ student.id_prefix }}{{student.person_id }})</a></td>
                            {% for course,tests in coursedict.items %}
                            {% for test in tests %}
                            {% with grade=testdict|key:test|key:student|last %}
                                <td id="gradeid_{{ grade.id }}" data-grade="{{ grade|grade_od }}">
                                    <font data-toggle="tooltip" title="{{ grade|grade_od_no_round }}">{{ grade|grade_od }}</font>
                                    {% if grade.released %}
                                    <i class="material-icons float-right" data-toggle="tooltip" title="Grade has been released">done</i>
                                    {% else %}
                                    <i class="material-icons float-right" data-toggle="tooltip" title="Grade has not been released">clear</i>
                                    {% endif%}
                                </td>
                            {% endwith %}
                            {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>

                {% else %}
                    <p>No students are available.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
