<p>Hello {{ person.name }},</p>

<p>The grades for the following tests have been released:</p>

<ul>
{% for mp in tests %}
 <li>{{ mp.name }}</li>
    <ul>
    {% for test in mp %}
        <li>{{ test }}</li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>

<p> Go to {{ domain }}{{ gradebook_path }} to see your grade.</p>

<p>You will have to authenticate yourself with your university credentials. If after authentication you can not see your credentials, please contact your module coordinator immediately.</p>

<p>Automated regards,</p>

<p>{{ module_coordinator.person.name }}</p>

<pre>
=======================================
SETH is in BETA. Only grades released in OSIRIS are official. No rights can be derived from grades or any other kinds of information in this system.
</pre>
