Hello,

New grades for {{ module_part }} have been released.

Go to {{ domain }}{{ gradebook_path }} to see your grade.

You will have to authenticate yourself with your university credentials.

Automated regards,

{{ module_coordinator }}

=======================================
Only grades released in OSIRIS are official. No rights can be derived from grades or any other information in Seth.

