<p>Hello {{ person.name }},</p>

<p>The grades for test {{ test.name }} have been released. Go to <a href="{{ domain }}{{ gradebook_path }}">{{ domain }}{{ gradebook_path }}</a> to see your grade.</p>

<p>You will have to authenticate yourself with your university credentials.</p>

<p>Automated regards,</p>

<p>{{ module_coordinator.person.name }}</p>

<pre>
=======================================
Only grades released in OSIRIS are official. No rights can be derived from grades or any other information in Seth.
</pre>
