{% extends 'base.html' %}

{% block title %}Module student{% endblock %}

{% block content %}
    {% include 'navbar.html' with active_page="gradebook" %}
    {% load grade_extras %}

    <style>
    .table tbody tr > td.success {
      background-color: rgba(102, 255, 163, .5) !important;
    }

    .table tbody tr > td.error {
      background-color: rgba(255, 153, 153, .5) !important;
    }
    .table tbody tr > td.warning {
      background-color: rgba(255, 204, 102, .5) !important;
    }
    </style>

    <div id="can_edit" style="display: none">
        {{ can_edit }}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}

                {% if student %}
                    <nav class="navbar navbar-expand-lg navbar-light title-bar">
                        <h1 class="display-4">{{ student.name }}</h1>

                        <ul class="navbar-nav mr-auto"></ul>

                        <a href="{% url 'human_resource:person' student.pk %}" data-toggle="tooltip"
                           data-placement="bottom"
                           title="Student detail"><i class="material-icons md-36 title-bar">find_in_page</i></a>
                    </nav>
                    <h2 class="display-5">{{ student.university_number }}</h2>
                    <hr>
                    <nav aria-label="breadcrumb" role="navigation">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'grades:gradebook' mod_ed.pk %}">{{ mod_ed.module.name }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ student.name }}</li>
                      </ol>
                    </nav>

                    <div id="accordion" role="tablist">
                      <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              Colors
                            </a>
                          </h5>
                        </div>

                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <button class="btn btn-secondary coloroff" id="colortoggle" name="colortoggle">Toggle Color</button>
                            <br>
                            <input id="lowerNum" type="number" value="5" min="1" max="10" step="0.25">
                            <input id="upperNum" type="number" value="5.5" min="1" max="10" step="0.25">
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>

                    <div class="card card-margin">
                        <div class="card-header card-header-tabs">
                            <ul class="nav nav-tabs" id="card-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tests-projects-tab" data-toggle="tab" href="#tests-projects"
                                       role="tab" aria-controls="tests-projects" aria-expanded="true">Tests/Projects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="assignments-tab" data-toggle="tab" href="#assignments"
                                       role="tab" aria-controls="assignments">Assignments</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="card-tab-content">
                                <div class="tab-pane fade show active" id="tests-projects" role="tabpanel" aria-labelledby="home-tab">

                                    <div class="table-overflow">
                                        <table id="studentbook" class="table table-striped table-bordered table-responsive">
                                        <thead>
                                        <tr>
                                            {% for module_part in module_parts %}
                                            {% if module_part.num_ep != 0 %}
                                                <th colspan="{{ module_part.num_ep }}"> {{ module_part.name }} </th>
                                            {% endif %}
                                            {% endfor %}
                                        </tr>

                                        <tr>
                                            {% for test in tests %}
                                                <td><a title="Grade: {{ test.minimum_grade|round }}-{{ test.maximum_grade|round }}" href="{% url 'grades:test' pk=test.id %}"> {{ test.name }} </a></td>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            {% for test in tests %}
                                            {% with grade=gradedict|key:test.id|key:0 %}
                                                <td id="gradeid_{{ test.id }}" data-grade="{{ grade|round }}" data-grade-min="{{ test.minimum_grade }}" data-grade-max="{{ test.maximum_grade }}" data-edit-url="{% url 'grades:edit' pk=test.id sid=student.id %}" data-remove-url="{% url 'grades:remove' pk=test.id sid=student.id %}">
                                                    <a title="{% if grades|key:test.id != 'N/A' %}{{ grade }}{% else %}N/A{% endif %}">{{ grade|round }}</a>

                                                    {% if grades|key:test.id != 'N/A' %}
                                                        {% if grades|key:test.id|key:1 %}
                                                        <i class="material-icons float-right" title="Grade has been released">done</i>
                                                        {% else %}
                                                        <i class="material-icons float-right" title="Grade has not been released">clear</i>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            {% endwith %}
                                            {% endfor %}
                                        </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="assignments" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="table-overflow">
                                        <table id="assignment_table" data-skip-to-row="1" class="table table-striped table-bordered table-responsive">
                                        <thead>
                                        <tr>
                                            {% for module_part in module_parts %}
                                            {% if module_part.num_a != 0 %}
                                                <th class="no-sort" colspan="{{ module_part.num_a }}"><a href="{% url 'grades:module_part' pk=module_part.id %}"> {{ module_part.name }} </a></th>
                                            {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for assignment in assignments %}
                                            <td class="no-sort">
                                                <a href="{% url 'grades:test' pk=assignment.id %}">{{ assignment.name }}</a>
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            {% for assignment in assignments %}
                                            {% with grade=gradedict|key:assignment.id|key:0 %}
                                            <td id="gradeid_{{ student }}_{{ assignment.id }}" data-url="{% url 'grades:edit' pk=assignment.id sid=student.id %}" data-always-color="True" data-grade="{{ grade }}" data-grade-min="{{ assignment.minimum_grade }}" data-grade-max="{{ assignment.maximum_grade }}">

                                                <i class="material-icons"
                                                    {% if grades|key:assignment.id|key:1 %}
                                                        title="Grade has been released"
                                                    {% else %}
                                                        title="Grade has not been released"
                                                    {% endif %}
                                                >
                                                    {% if grade == 1 %}
                                                        done
                                                    {% elif grades|key:assignment.id != 'N/A' %}
                                                        clear
                                                    {% else %}
                                                        clear
                                                    {% endif %}
                                                </i>
                                            </td>
                                            {% endwith %}
                                            {% endfor %}
                                        </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>No courses available</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="gradeModal" class="modal fade" role="dialog">
       <div class="modal-dialog">
         <div class="modal-content">
          <div class="modal-body">
            <p id="modal-p"></p>
          </div>
          <div class="modal-footer">
            <button id="modal_yes" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}