{% extends 'base.html' %}

{% block title %}Grades{% endblock %}

{% block content %}

    {% include 'navbar.html' with active_page="gradebook" %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-3">Modules</h1>
                <hr>
                {% if module_list %}
                    <ul class="list-group">
                    {% for module in module_list %}
                    {% for mod_ed in module.module_ed_set.all %}
                        <li class="list-group-item"><a href="{% url 'grades:gradebook' mod_ed.id %}">{{ module.name }}</a></li>
                    {% endfor %}
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No modules are available.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}