{% load grade_extras %}

<style>
table, th, td {border: 1px solid black; border-collapse: collapse; padding: 1px;}
</style>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

{% if student %}

    <h1>{{ student.user.first_name }} {{ student.user.last_name }}</h1>

    <table>
        <tr>
            {% for mod in coursedict.keys %}
                <th colspan="{{ modwidth|key:mod }}">{{ mod.module.name }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for mod in coursedict.keys %}
            {% for course in coursedict|key:mod %}
                <th colspan="{{ testdict|key:course|length }}"> {{ course }} </th>
            {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            {% for mod in coursedict.keys %}
            {% for course in coursedict|key:mod %}
            {% for test in testdict|key:course %}
                <td> {{ test.name }} </td>
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            {% for mod in coursedict.keys %}
            {% for course in coursedict|key:mod %}
            {% for test in testdict|key:course %}
                <td>{{ gradedict|key:test }}</td>
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </tr>
    </table>

    <hr>

    {% for mod in coursedict.keys %}
        <h2> {{ mod.module.name }} </h2>
        <table>
            <tr>
                {% for course in coursedict|key:mod %}
                    <th colspan="{{ testdict|key:course|length }}"> {{ course }} </th>
                {% endfor %}
            </tr>

            <tr>
                {% for course in coursedict|key:mod %}
                    {% for test in testdict|key:course %}
                        <td> {{ test.name }} </td>
                    {% endfor %}
                {% endfor %}
            </tr>
            <tr>
                {% for course in coursedict|key:mod %}
                    {% for test in testdict|key:course %}
                        <td>{{ gradedict|key:test }}</td>
                    {% endfor %}
                {% endfor %}
            </tr>
        </table>
    {% endfor %}

{% else %}
<p>No courses available</p>
{% endif %}