{% extends 'base.html' %}

{% block title %}Student{% endblock %}

{% block content %}

    {% include 'navbar.html' %}
    {% load grade_extras %}
    {% if student %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="display-3">
                        {{ student.user.first_name }} {{ student.user.last_name }}
                    </h1>
                    <hr>

                    {% for mod in coursedict.keys %}
                    <div class="card">
                        <div class="card-header" role="tab" id="headingActive{{ mod.id }}">
                            <h4 class="md-0">
                                <a class="text-dark" data-toggle="collapse" href="#collapseActive{{ mod.id }}" aria-expanded="true" aria-controls="collapseActive{{ mod.id }}">
                                    {{ mod.module_name }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapseActive{{ mod.id }}" class="collapse" role="tabpanel" aria-labelledby="headingActive{{ mod.id }}" data-parent="#accordion">
                            <div class="card-body">
                                <div id="accordion" role="tablist">
                                    {% for course in coursedict|key:mod %}
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingActive{{ mod.id }}{{ course.id }}">
                                            <h5 class="md-0">
                                                <a class="text-dark" data-toggle="collapse" href="#collapseActive{{ mod.id }}{{ course.id }}" aria-expanded="true" aria-controls="collapseActive{{ mod.id }}{{ course.id }}">
                                                    {{ course }}
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseActive{{ mod.id }}{{ course.id }}" class="collapse" role="tabpanel" aria-labelledby="headingActive{{ mod.id }}{{ course.id }}" data-parent="#accordion">
                                            <div class="card-body">
                                                <table>
                                                    {% for test in testdict|key:course %}
                                                    <tr>
                                                        {% with grade=gradedict|key:test|last %}
                                                            <td>{{ test.name }}</td>
                                                            <td>{{ grade|grade_od }}</td>
                                                        {% endwith %}
                                                        {% endfor %}
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <p>No courses available</p>
    {% endif %}
{% endblock %}