{% extends 'base.html' %}

{% block title %}Student{% endblock %}

{% block content %}

    <style>
    .min_width {
        min-width: 100px;
    }

    .table th {
        vertical-align: bottom;
        border-bottom: 2px solid #e9ecef;
        border-top-style: double;
    }

    .md-24 {
        position: relative;
        vertical-align: -5px;
    }
    </style>

    {% include 'navbar.html' with active_page="gradebook" ta=True %}
    {% load grade_extras %}
    {% if studentname %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="display-4">
                        Grades: {{ studentname }}
                    </h1>
                    <hr>
                    <div class="card-columns teacher-cards">
                    {% for mod_ed in modules %}
                    <div class="card">
                        <div class="card-header">
                            <div class="display-5">
                                {{ mod_ed }}
                                <span class="float-right">
{#                                    <i class="material-icons pointer expand_all"#}
{#                                       data-toggle="tooltip" data-placement="bottom" title="Expand all">#}
{#                                        expand_more#}
{#                                    </i>#}
{#                                    <i class="material-icons pointer expand_less"#}
{#                                       data-toggle="tooltip" data-placement="bottom" title="Collapse all">#}
{#                                        expand_less#}
{#                                    </i>#}
                                    <i class="material-icons pointer expand_collapse"
                                       data-toggle="tooltip" data-placement="bottom" title="Expand/Collapse All">
                                        expand_more
                                    </i>
                                </span>
                            </div>
                        </div>
                        <ul class="list-group-flush pl-0 mb-0 module_part_list">
                            {% for module_part in module_parts|key:mod_ed %}
                                <li class="list-group-item flip-list-item collapsed" id="mp_collapse{{ module_part.id }}"
                                    aria-expanded="false" aria-controls="collapsePart{{ module_part.id }}">
                                <a class="text-dark">
                                    <span class="display-6 mb-0" data-toggle="collapse" data-target="#collapsePart{{ module_part.id }}">
                                        {{ module_part.name }}
                                        <i class="material-icons md-24 flip-icon">expand_more</i>
                                    </span>
                                </a>
                                <div>
                                    <hr class="mb-0">
                                    <div class="table-overflow mt-2">
                                        <table id="studentbook_assignments_{{ module_part.id }}" class="table table-bordered table-responsive-lg mb-0">
                                            <thead>
                                                {% if tests|key:module_part %}
                                                <tr>
                                                    <th>Test</th>
                                                    <th>Grade</th>
                                                </tr>
                                                {% endif %}
                                            </thead>
                                            <tbody>
                                                {% if tests|key:module_part %}
                                                {% for test in tests|key:module_part %}

                                                    {% with grade=grades|key:test.id %}
                                                        <tr data-toggle="collapse" data-target="#accordion_{{ test.id }}" class="clickable">
                                                            <td>{{ test.name }}</td>
                                                                <td id="gradeid_{{ test.id }}" data-grade="{{ grade.grade|round }}" data-grade-min="{{ test.minimum_grade }}" data-grade-max="{{ test.maximum_grade }}">
                                                                    <a>{{ grade.grade|round }}/<a class="text-muted">{{ test.maximum_grade }}</a></a>{% if grade.description %}<i class="material-icons md-24 outline">message</i>{% endif %}
                                                                </td>
                                                        </tr>

                                                        {% if grade.description %}
                                                        <tr id="accordion_{{ test.id }}" class="collapse">
                                                            <td colspan="2">
                                                                <div>{{ grade.description|linebreaks }}</div>
                                                            </td>
                                                        </tr>
                                                        {% endif %}

                                                    {% endwith %}
                                                {% endfor %}
                                                {% endif %}
                                                {% if assignments|key:module_part %}
                                                <tr>
                                                    <th>Assignments</th>
                                                    <th>Done</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        {% for assignment in assignments|key:module_part %}
                                                            {% if assignment in name_override %}
                                                                {{ name_override|key:assignment }}{% if forloop.counter != assignments|key:module_part|length %},
                                                                {% endif %}
                                                            {% else %}
                                                                {{ assignment.name }}{% if forloop.counter != assignments|key:module_part|length %},
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        <i class="material-icons text-success">check_circle</i>
                                                    </td>
                                                </tr>
                                                {% else %}
{#                                                    This temporarily fixes mudule parts without sign off assignments showing a text #}
{#                                                     that implies they do exist, which confuses users #}
{#                                                <tr>#}
{#                                                    <th>Assignments</th>#}
{#                                                    <th>Done</th>#}
{#                                                </tr>#}
{#                                                <tr>#}
{#                                                    <td>#}
{#                                                        No assignments have been signed off yet.#}
{#                                                    </td>#}
{#                                                    <td>#}
{#                                                        <i class="material-icons text-danger">cancel</i>#}
{#                                                    </td>#}
{#                                                </tr>#}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                </li>
                            {% empty %}
                                <li class="list-group-item">
                                    <span class="font-italic">No grades of this module have been released as of yet.</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>No courses available</p>
    {% endif %}
{% endblock %}