{% extends 'base.html' %}

{% block title %}Test{% endblock %}

{% block content %}

    {% include 'navbar.html' with active_page="gradebook" %}
    {% load grade_extras %}

    <style>
    .table tbody tr > td.success {
      background-color: #66ffa3 !important;
    }

    .table tbody tr > td.error {
      background-color: #ff9999 !important;
    }

    .table tbody tr > td.warning {
      background-color: #ffcc66 !important;
    }

    .table tbody tr > td.loading {
      background-color: #ccccb3 !important;
    }

    .table td {
        padding: 0rem;
    }

    .min_width {
        min-width: 100px;
    }

    .md-36 {
        position: relative;
        vertical-align: -12px;
    }

    .md-24 {
        position: relative;
        vertical-align: -8px;
    }

    .md-18 {
        position: relative;
        vertical-align: -4px;
    }

    .nowrap {
        white-space: nowrap;
    }

    .grade-input {
        height:14px;
        width: 60%;
    }
    </style>

    <div id="can_edit" style="display: none">
        {{ can_edit }}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}

                {% if test %}
                    <nav class="navbar navbar-expand-lg navbar-light title-bar">
                        <h1 class="display-3">{{ test.name }}</h1>

                        <ul class="navbar-nav mr-auto"></ul>

                        {% if is_module_coordinator or is_mc_assistant %}
                        <a href="{% url 'module_management:test_detail' test.pk %}" data-toggle="tooltip"
                           data-placement="bottom"
                           title="Test detail"><i class="material-icons md-36 title-bar">find_in_page</i></a>
                        {% endif %}
                    </nav>
                    <hr>

                    <nav aria-label="breadcrumb" role="navigation">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'grades:gradebook' test.module_part.module_edition.pk %}">{{ test.module_part.module_edition.module.name }}</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'grades:module_part' test.module_part.pk %}">{{ test.module_part.name }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ test.name }}</li>
                      </ol>
                    </nav>

                    {% if can_export %}
                    <form action="{% url 'grades:export' test.id %}">
                        <input class="btn btn-secondary" type="submit" value="Export to .xls" />
                    </form>
                    {% endif %}

                    {% if can_release %}
                    <form action="{% url 'grades:release' pk=test.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="rel" name="rel" value="{{ test.released }}" />
                        <input type="checkbox" id="sendcheck" name="sendcheck" value="Send Mails" />
                        Send Mails
                        <input class="btn btn-secondary" type="submit" value="
                        {% if test.released %}Retract grades
                        {% else %}Release grades
                        {% endif %}"/>
                    </form>
                    {% endif %}

                    {% if change %}
                      <div class="alert alert-{% if change == 1 %}success{% else %}warning{% endif %} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Changes made!</strong>
                          {% if change == 1%}
                          The chosen grade(s) have successfully been released.
                          {% else %}
                          The chosen grade(s) have successfully been retracted.
                          {% endif %}
                      </div>
                    {% endif %}

                    <div id="accordion" role="tablist">
                      <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              Colors
                            </a>
                          </h5>
                        </div>

                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <button class="btn btn-secondary coloroff" id="colortoggle" name="colortoggle">Toggle Color</button>
                            <br>
                            <i style="color: #ff9999" class="material-icons md-36">view_module</i>
                            <input id="lowerNum" type="number" value="5" min="1" max="10" step="0.25" data-target="tooltip" title="The bound between red and orange">
                            <i style="color: #ffcc66" class="material-icons md-36">view_module</i>
                            <input id="upperNum" type="number" value="5.5" min="1" max="10" step="0.25" data-target="tooltip" title="The bound between orange and green">
                            <i style="color: #66ffa3" class="material-icons md-36">view_module</i>
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>

                    <table id="gradebook" data-url="{% url 'grades:get' pk=test.id t='E' %}" data-view="mod_test" class="table table-striped table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th>Student</th>
                            <th class="no-sort">Grade</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    </form>

                {% else %}
                <p>No tests available</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="gradeModal" class="modal fade" role="dialog">
       <div class="modal-dialog">
         <div class="modal-content">
          <div class="modal-body">
            <p id="modal-p"></p>
          </div>
          <div class="modal-footer">
            <button id="modal_yes" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}