{% extends 'base.html' %}

{% block title %}
    Import grades into test: {{ test.name }}
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
<body>
{% load grade_extras %}

<style>
table, th, td {border: 1px solid black; border-collapse: collapse; padding: 1px;}
</style>


Name: {{ person.name }} <br>
Id: {{ person.id }} <br>
Start: {{ person.start }} <br>
Stop: {{ person.stop }} <br>
Role: {{ person.role }} <br>
{% for study in person.studies.all %}
Studies: {{ study }} <br>
{% endfor %}
Full ID: {{ person.full_id }}
<br><br>
<!--<a href="/grades/update-user">Edit:</a>-->
<form action="update-user/" method="get">{% csrf_token %}
    <!--{{ form.as_p }-->
    <input type="submit" value="Edit">
</form>
<form action="remove-user/" method="get">{% csrf_token %}
    <!--{{ form.as_p }-->
    <input type="submit" value="Remove">
</form>


</body>
</html>
{% endblock %}
