<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ course.name }} - {{ course.course_code }} Details</title>
</head>

<body>

<h1>{{ course.name }} - {{ course.course_code }} Details</h1>

<ul>
    <li>Course Code: {{ course.course_code }}</li>
    <li>Course Name: {{ course.name }}</li>
    <li>
        Teachers:
        <ul>
            {% for teacher in course.teacher.all %}
                <li>{{ teacher.name }}</li>
            {% endfor %}
        </ul>
    </li>
    <li>
        Tests:
        <ul>
            {% for test in course.test_set.all %}
                <li><a href="{% url 'module_management:test_detail' test.pk %}">{{ test.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>

<a href="{% url 'module_management:course_update' course.pk %}">Edit</a>

</body>

</html>