{% extends 'base.html' %}

{% block title %}
Details: {{ course }}
{% endblock %}

{% block content %}

{% include 'navbar.html' with active_page="module_management" %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg navbar-light title-bar">
                <h3 class="display-4">Course: {{ course.name }}</h3>

                <ul class="navbar-nav mr-auto"></ul>

                <a href="{% url 'module_management:course_update' course.pk %}" data-toggle="tooltip" data-placement="bottom" title="Edit course">
                    <i class="material-icons md-36">mode_edit</i>
                </a>
                <a href="{% url 'module_management:course_delete' course.pk %}" data-toggle="tooltip" data-placement="bottom" title="Delete course">
                    <i class="material-icons md-36 text-danger">delete_forever</i>
                </a>
            </nav>
        </div>
    </div>
    <hr class="remove-top-margin">
    <div class="row">
        <div class="col-lg-5">
            <ul>
                <li>Course Code: {{ course.course_code }}</li>
                <li>Course Name: {{ course.name }}</li>
                <li><a href="{% url 'grades:course' course.pk %}">Course Grades</a></li>
            </ul>
            <div class="card">
                <div class="card-header">
                    Teachers
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for teacher in course.teacher_set.all %}
                        <li class="list-group-item">{{ teacher.person.name }} - {{ teacher.get_role }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    Tests
                    <a href="{% url 'module_management:test_create' course.pk %}">
                        <i class="material-icons float-right" data-toggle="tooltip" data-placement="bottom" title="Create new test">add_circle</i>
                    </a>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for test in course.test_set.all %}
                        <li class="list-group-item"><a href="{% url 'module_management:test_detail' test.pk %}">{{ test.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{#    <ul>#}
{#        <li>Course Code: {{ course.course_code }}</li>#}
{#        <li>Course Name: {{ course.name }}</li>#}
{#        <li>#}
{#            Teachers:#}
{#            <ul>#}
{#                {% for teacher in course.teacher_set.all %}#}
{#                <li>{{ teacher.person.name }} - {{ teacher.get_role }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </li>#}
{#        <li>#}
{#            Tests:#}
{#            <ul>#}
{#                {% for test in course.test_set.all %}#}
{#                <li><a href="{% url 'module_management:test_detail' test.pk %}">{{ test.name }}</a></li>#}
{#                {% endfor %}#}
{#                <li>#}
{#                    <a href="{% url 'module_management:test_create' course.pk %}">Create new test</a>#}
{#                </li>#}
{#            </ul>#}
{#        </li>#}
{#        <li><a href="{% url 'grades:course' course.pk %}">Course Grades</a></li>#}
{#    </ul>#}
{##}
{#    <a href="{% url 'module_management:course_update' course.pk %}">Edit</a>#}
{#    -#}
{#    <a href="{% url 'module_management:course_delete' course.pk %}">Delete</a>#}
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="display-4">Students in Course</h3>
            {% if studying %}
            <table class="table">
                <tr>
                    <th> Name</th>
                    <th> S-number</th>
                    <th> Study</th>
                    <th> Role</th>
                </tr>
                {% for s in studying %}
                <tr>
                    <td> {{ s.student_id.name }}</td>
                    <td> {{ s.student_id }}</td>
                    <td> {{ s.study.short_name }}</td>
                    <td> {{ s.role }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            There are no students enrolled in this course yet.

            {% endif %}
        </div>
    </div>
{#    <h3 class="display-3">Students in Course</h3>#}
{#    {% if studying %}#}
{#    <table class="table">#}
{#        <tr>#}
{#            <th> Name</th>#}
{#            <th> S-number</th>#}
{#            <th> Study</th>#}
{#            <th> Role</th>#}
{#        </tr>#}
{#        {% for s in studying %}#}
{#        <tr>#}
{#            <td> {{ s.student_id.name }}</td>#}
{#            <td> {{ s.student_id }}</td>#}
{#            <td> {{ s.study.short_name }}</td>#}
{#            <td> {{ s.role }}</td>#}
{#        </tr>#}
{#        {% endfor %}#}
{#    </table>#}
{#    {% else %}#}
{#    There are no students enrolled in this course yet.#}
{##}
{#    {% endif %}#}
</div>
{% endblock %}
