{% extends 'base.html' %}

{% block title %}
    Module Overview
{% endblock %}

{% block content %}
    {% include 'navbar.html' with active_page="module_management"%}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="display-4">Module manager</h3>
                <hr>
            </div>
        </div>
        {% if module_list %}
            {% for mod in module_list %}
                {% if forloop.counter0|divisibleby:2 == 1 %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <a href="{% url 'module_management:module_detail' mod.pk %}">{{ mod.module_code }} - {{ mod.name }}</a>
                                    <a href="{% url 'module_management:module_ed_create' mod.pk %}">
                                        <i class="material-icons float-right" data-toggle="tooltip" data-placement="bottom" title="Add new module edition">add_circle</i>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group">
                                        {% for mod_ed in mod.module_ed_set.all %}
                                            {% if mod_ed in mod_eds %}
                                                <li class="list-group-item">
                                                    <a href="{% url 'module_management:module_ed_detail' mod_ed.pk %}">{{ mod_ed.module_code }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                {% else %}
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <a href="{% url 'module_management:module_detail' mod.pk %}">{{ mod.module_code }} - {{ mod.name }}</a>
                                    <a href="{% url 'module_management:module_ed_create' mod.pk %}">
                                        <i class="material-icons float-right" data-toggle="tooltip" data-placement="bottom" title="Add new module edition">add_circle</i>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group">
                                        {% for mod_ed in mod.module_ed_set.all %}
                                            {% if mod_ed in mod_eds %}
                                                <li class="list-group-item">
                                                    <a href="{% url 'module_management:module_ed_detail' mod_ed.pk %}">{{ mod_ed.module_code }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            No modules are available.
        {% endif %}
    </div>
{% endblock %}