{% extends 'base.html' %}

{% block title %}
    Details: {{ module }}
{% endblock %}

{% block content %}
    {% include 'navbar.html' with active_page="module_management" %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="display-4">{{ module.name }}</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <p>
                    Code: {{ module.code }}<br>
                    Name: {{ module.name }}<br>
                    Start: {{ module.start }}<br>
                    End: {{ module.end }}
                </p>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">Module editions<a href="{% url 'module_management:module_edition_create' module.pk %}"><i class="material-icons float-right">add_circle</i></a></div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for module_edition in module.moduleedition_set.all %}
                                {% if module_edition in module_editions %}
                                    <li class="list-group-item">
                                        <a href="{% url 'module_management:module_edition_detail' module_edition.pk %}">{{ module_edition.code }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
{#                <ul>#}
{#                    <li>Module Code: {{ module.module_code }}</li>#}
{#                    <li>Module Name: {{ module.name }}</li>#}
{#                    <li>Start: {{ module.start }}</li>#}
{#                    <li>Stop: {{ module.stop }}</li>#}
{#                    <li>#}
{#                        Module Editions:#}
{#                        <ul>#}
{#                            {% for mod_ed in module.module_ed_set.all %}#}
{#                                {% if mod_ed in mod_eds %}#}
{#                                    <li>#}
{#                                        <a href="{% url 'module_management:module_ed_detail' mod_ed.pk %}">{{ mod_ed.module_code }}</a>#}
{#                                    </li>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                            <li>#}
{#                                <a href="{% url 'module_management:module_ed_create' module.pk %}">Create new module edition</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                </ul>#}
            </div>
        </div>
    </div>
{% endblock %}