{% extends 'base.html' %}

{% block title %}
{{ module }}
{% endblock %}

{% block content %}
{% include 'navbar.html' with active_page="module_management" %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="display-4">{{ module.name }}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="card">
                <h5 class="card-header">
                    Info
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Code: <span class="font-italic">{{ module.code }}</span></li>
                    <li class="list-group-item">Name: <span class="font-italic">{{ module.name }}</span></li>
                    {% if studies %}
                    {% for study in studies %}
                    <li class="list-group-item">Study: <span class="font-italic">{{ study.name }}</span></li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <div class="card">
                <h5 class="card-header">
                    Module editions
                    <a href="{% url 'module_management:module_edition_create' module.pk %}">
                        <i class="material-icons float-right" data-toggle="tooltip" data-placement="bottom"
                           title="Add module edition">add_circle</i>
                    </a>
                </h5>
                <ul class="list-group list-group-flush">
                    {% for module_edition in module.moduleedition_set.all %}
                    {% if module_edition in module_editions %}
                    <li class="list-group-item">
                        <a href="{% url 'module_management:module_edition_detail' module_edition.pk %}">
                            {{ module_edition.code }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
