{% extends 'base.html' %}

{% block title %}
    Edit: {{ test }}
{% endblock %}


{% block content %}
    {% include 'navbar.html' with active_page="module_management" %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light title-bar">
                    <h3 class="display-4">{{ test.name }} ({{ test.get_type }})</h3>

                    <ul class="navbar-nav mr-auto"></ul>

                    <a href="#" id="updateTestSave" data-toggle="tooltip" data-placement="bottom" title="Save">
                        <i class="material-icons md-36 title-bar text-info">save</i>
                    </a>
                    <a href="{% url 'module_management:test_detail' test.pk%}" data-toggle="tooltip" data-placement="bottom" title="Cancel">
                        <i class="material-icons md-36 title-bar">clear</i>
                    </a>
                </nav>
            </div>
        </div>
        <hr class="remove-top-margin">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form id="updateTestForm" action="" method="post">{% csrf_token %}
{#                    {{ form.as_p }}#}
                    {% include 'form_snippet.html' %}
{#                    <input type="submit" value="Apply"/>#}
                </form>
            </div>
        </div>
    </div>
{% endblock %}