{% extends 'base.html' %}

{% block title %}
    {{ test }}
{% endblock %}

{% block content %}
    {% include 'navbar.html' with active_page="module_management" %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light title-bar">
                    <h3 class="display-4">{{ test.name }} ({{ test.get_type }})</h3>

                    <ul class="navbar-nav mr-auto"></ul>

                    <a href="{% url 'module_management:test_update' test.pk %}" data-toggle="tooltip" data-placement="bottom" title="Edit test">
                        <i class="material-icons md-36">settings</i>
                    </a>
                    <a href="{% url 'module_management:test_delete' test.pk %}" data-toggle="tooltip" data-placement="bottom" title="Delete test">
                        <i class="material-icons md-36 text-danger">delete_forever</i>
                    </a>
                </nav>
            </div>
        </div>
        <hr class="remove-top-margin">
        <div class="col-lg-5">
            <p>Module Part: <a href="{% url 'module_management:module_part_detail' test.module_part.pk %}">{{ test.module_part }}</a><br>
            Test Name: {{ test.name }}<br>
            Test Type: {{ test.get_type }}<br>
            Test Time: {{ test.time }}<br>
            Minimum Grade: {{ test.minimum_grade }}<br>
            Maximum Grade: {{ test.maximum_grade }}<br>
            <a href="{% url 'grades:test' test.pk %}">Grades</a></p>
        </div>
        <div class="col-lg-7"></div>
    </div>
{% endblock %}