{% load static %}
<html>
<head>

    <script src="https://use.fontawesome.com/63604c1065.js"></script>
    <link href="{% static 'bootstrap_new/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{% static 'Grades/sidebar.css' %}" rel="stylesheet"/>
{#    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">#}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <title>Seth - {% block title %}{% endblock %}</title>
</head>
<body>
{#    <img src="{% static "images/sitelogo.png" %}" alt="Logo" />#}
    {% block content %}{% endblock %}

    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'popper/popper.js' %}"></script>
    <script src="{% static 'popper/popper-utils.js' %}"></script>
    <script src="{% static 'bootstrap_new/dist/js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="{% static 'seth/js/scripts.js' %}"></script>
    <script src="{% static 'seth/js/submit-buttons.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>
