{% load widget_tweaks %}
{% for field in form %}
    <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}
{#        {{ field|field_type }}#}
        {% if field.field.required %}
            *
        {% endif %}
        {% if field|field_type == "datefield" %}
            <div class="input-group">
                {{ field|add_class:"form-control date-picker" }}
            </div>
        {% elif field|field_type == "filefield" %}
            {{ field|add_class:"form-control-file" }}
        {% else %}
            {{ field|add_class:"form-control" }}
        {% endif %}
    </div>
{% endfor %}
<p><small class="text-muted">(Field with a * are required)</small></p>
