{% load widget_tweaks %}
{% for field in form.visible_fields %}
    <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}
{#        {{ field|field_type }}#}
        {% if field.field.required %}
            *
        {% endif %}
        {% if field|field_type == "datefield" %}
            <div class="input-group">
                {{ field|add_class:"form-control date-picker" }}
            </div>
        {% elif field|field_type == "filefield" %}
            {{ field|add_class:"form-control-file" }}
        {% else %}
            {{ field|add_class:"form-control" }}
        {% endif %}
    </div>
{% endfor %}
{% for hidden in form.hidden_fields %}
    <div class="form-group">
        {{ hidden.errors }}
        <label id="label_{{ hidden.name }}" style="display: none;" for="{{ hidden.name }}">{{ hidden.label }}</label>
{#        {{ hidden.label_tag }}#}
{#        {{ field|field_type }}#}
{#        {% if hidden.field.required %}#}
{#            *#}
{#        {% endif %}#}
        {% if hidden|field_type == "datefield" %}
            <div class="input-group">
                {{ hidden|add_class:"form-control date-picker" }}
            </div>
        {% elif hidden|field_type == "filefield" %}
            {{ hidden|add_class:"form-control-file" }}
        {% else %}
            {{ hidden|add_class:"form-control" }}
        {% endif %}
    </div>
{% endfor %}
<p><small class="text-muted">(Field with a * are required)</small></p>
